.home{
    background: linear-gradient(183.33deg, #FFF6E6 9.56%, rgba(248, 237, 216, 0) 124.27%);
    border-radius: 0px 0px 32px 32px;

    &__title{
        color: #91919F;
        text-align: center;
        margin: 0;
        margin-top: 1rem;
    }
    &__balance{
        text-align: center;
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 3rem;
        margin: 0;
    }
    &__summary{
        display: flex;
    }
}

.stats{
    &__title{
        font-size: 1.2rem;
        font-weight: 600;
        margin: 0.8rem;
    }
    &__img{
        width: 100%;
        margin-top: 1rem;
    }
}